{% extends 'base.html' %}

{% block content%}
<div style="display:flex;justify-content:center">
    <div class="card mb-3">
        <img src="https://static.vecteezy.com/system/resources/previews/004/530/290/original/cute-lungs-mascot-free-vector.jpg" style="height:500px; width: 350px; "card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pneumonia</h5>
          <p class="card-text" style="justify-content: center; text-justify:auto">
            Pneumonia is an infection of the lungs that may be caused by bacteria, viruses, or fungi.
            <br>
            The infection causes the lungs' air sacs (alveoli) to become inflamed and fill up with fluid or pus. 
            <br>
            That can make it hard for the oxygen you breathe in to get into your bloodstream.
            <br>
            The symptoms of pneumonia can range from mild to severe, and include cough, fever, chills, and trouble breathing.
            <br>
            Many factors affect how serious a case of pneumonia is, such as the type of germ causing the lung infection,
            <br>
             the person’s age, and their overall health. The people most at risk are infants and young children, adults 65 or older,
             <br> and people who have other health problems.
            <br>
            Pneumonia is a leading cause of hospitalization in both children and adults. Most cases can be treated successfully, 
            <br>
            although it can take weeks to fully recover. Tens of thousands of people in the U.S. die from pneumonia every year,
            <br> most of them adults over the age of 65.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>

  
{% endblock%}